#callout {
	width: 100%;
	height: auto;
	background:#878E63;
	overflow: hidden;
}
#callout p {
	text-align: right;
	font-size: 13px;
	padding: 0.1% 5% 0 0;
	color:#F1F0D1;
}
#callout p a {
	color:#F1F0D1;
	text-decoration: none;
}
nav {

}
